<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Gameflix :: Admin</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments/navbar-fragment}"></div>

    <div sec:authorize="hasRole('ADMIN')">
        <h2>Gameflix Web Administration</h2>

        <form th:action="@{/admin/igdb-search}" class="glassy-container flex-col">
            <button type="submit" class="glassy-button button-primary">IGDB Search</button>
        </form>
        <form th:action="@{/admin/all-games}" class="glassy-container flex-col">
            <button type="submit" class="glassy-button button-primary">Game Management</button>
        </form>
        <form th:action="@{/admin/all-users}" class="glassy-container flex-col">
            <button type="submit" class="glassy-button button-primary">User Management</button>
        </form>
    </div>

    <div th:replace="~{fragments/admin-wall-fragment}"></div>
</body>
</html>