<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gameflix :: All Games</title>
</head>
<body>
    <div th:replace="~{fragments/navbar-fragment}"></div>

    <h2>Gameflix Games</h2>

    <div th:if="${gameList != null}" class="glassy-container">
        <table>
            <thead>
            <tr>
                <th>Game Name</th>
                <th>Summary</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="game : ${gameList}">
                <td th:text="${game.name}">Game Name</td>
                <td th:text="${#strings.abbreviate(game.summary, 100)}">Summary</td>
                <td>
                    <form th:action="@{/games/details/{id}(id=${game.id})}" method="get">
                        <input type="hidden" name="id" th:value="${game.id}" class="glassy-input"/>
                        <button type="submit" class="glassy-button button-primary">View</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>