<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Gameflix</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments/navbar-fragment}"></div>
    <div>
        <h1>Gameflix</h1>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <p>You are currently a guest.</p>
        <a th:href="@{/login}">Login</a> |
        <a th:href="@{/register}">Register</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <p>Welcome back, <span sec:authentication="name">User</span>!</p>

        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>