<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome to GameFlix</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh;">
    <div th:replace="~{fragments/navbar-fragment}"></div>

    <div class="container" style="flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">

        <a th:href="@{/}" class="nav-brand" style="font-size: 8rem">
            <span style="color: #975b14">Game</span>
            <span style="color: #1e3c72">Flix</span>
            <span sec:authorize="hasRole('SUBSCRIBER')" class="nav-brand" style="color: white !important;">Plus</span>
            <span sec:authorize="hasRole('ADMIN')" class="nav-brand" style="color: darkred !important;"> ADMIN </span>
        </a>

        <p>Total access to all your favorites anytime shipped right to your door.</p>

        <div sec:authorize="!isAuthenticated()" class="glassy-container" style="min-width: 400px;">
            <h3>Start playing</h3>
            <div class="flex-col">
                <a th:href="@{/register}" class="glassy-button button-primary">Register Now</a>
                <div style="margin: 10px 0; color: #888; font-size: 0.9rem;">— or —</div>
                <a th:href="@{/login}" class="glassy-button">Log In</a>
            </div>
        </div>


        <div sec:authorize="isAuthenticated() and !hasRole('SUBSCRIBER')" class="glassy-container" style="min-width: 400px;">
            <h3 style="color: #1e3c72;">Unlock Full Access</h3>
            <p>Subscribe now to start getting games shipped to you.</p>
            <a th:href="@{/subscribe}" class="glassy-button button-primary">Subscribe to Plus</a>
        </div>

        <div sec:authorize="hasRole('SUBSCRIBER')"></div>
    </div>
</body>
</html>

