<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Gameflix :: Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h2>Create a new Gameflix account</h2>
    <div sec:authorize="!isAuthenticated()">
        <form action="#" th:action="@{/register}" th:object="${user}" method="post">
            <div>
                <label>Username:
                    <input type="text" th:field="*{username}">
                </label>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;">
                    Username error
                </p>
            </div>
            <div>
                <label>Password:
                    <input type="text" th:field="*{password}">
                </label>
            </div>
            <div>
                <button type="submit">Create account</button>
            </div>
        </form>
    </div>

    <div sec:authorize="isAuthenticated()">
        <p>You can't make an account while logged in <span sec:authentication="name">User</span>!</p>
        <p>If you'd like to make a new account, please log out first.</p>
        <br>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>