<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gameflix :: Account registered</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments/navbar-fragment}"></div>

    <h1>GameFlix account created</h1>

    <div class="glassy-container">
        <p>Success! Your account has been registered.</p>
        <p>You can now login.</p>
        <a th:href="@{/login}" class="glassy-button">Log In</a>
    </div>

</body>
</html>