<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>GameFlix :: Rental Error: Limit Reached</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Error! Limit Reached</h1>
    <div class="glassy-container">
        <p>You are already renting the maximum allowed number of games (2). Finish your current titles and come back to
        this one later!</p>
    </div>
</body>
</html>